<hr class="dropdown-divider" />

<template data-nested-form-target="template">
  <%= fields_for :options, PropertyOption.new, child_index: 'NEW_RECORD' do |of| %>
    <div class="field nested-form-wrapper" data-new-record="<%= of&.object&.new_record? %>">
      <div class="control is-expanded">
        <%= of.text_field :value, class: "input is-small" %>
      </div>
    </div>
  <% end %>
</template>

<div class="dropdown-item" style="max-height: 200px; overflow: scroll;">
  <label class="label is-small">Options</label>
  <% property.potential_options.each do |op| %>
    <%= fields_for :options do |of| %>
      <div class="field nested-form-wrapper" data-new-record="<%= of&.object&.new_record? %>">
        <div class="control is-expanded">
          <%= of.text_field :value, value: op.value, class: "input is-small" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button class="button is-small is-info" type="button" data-action="nested-form#add">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
  </button>
</div>