<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Dashboard", account_dashboard_path(current_account) %></li>
      <li><%= link_to "External Accounts", account_external_account_path(current_account, @external_account) %></li>
      <li class="is-active"><a href="#" aria-current="page">Edit Fulfillment Policy</a></li>
    </ul>
  </nav>

  <h1 class="title">Edit Fulfillment Policy</h1>
  <h2 class="subtitle">eBay Account: <%= @external_account.ebay_display_name || @external_account.ebay_username %></h2>

  <%= form_with model: [@external_account, @fulfillment_policy], 
                url: account_external_account_fulfillment_policy_path(current_account, @external_account, @fulfillment_policy),
                method: :patch,
                local: true,
                class: "box" do |f| %>
    
    <% if @fulfillment_policy.errors.any? %>
      <div class="notification is-danger">
        <h4>Please fix the following errors:</h4>
        <ul>
          <% @fulfillment_policy.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :marketplace_id, value: "EBAY_GB" %>
    <%= f.hidden_field :currency, value: "GBP" %>
    <%= f.hidden_field :category_default, value: (@fulfillment_policy.category_default? rescue false) %>

    <div class="field">
      <%= f.label :name, class: "label" %>
      <div class="control">
        <%= f.text_field :name, class: "input", placeholder: "Policy Name" %>
      </div>
      <p class="help">Enter a unique name for this fulfillment policy</p>
    </div>

    <div class="field">
      <label class="label">Handling Time</label>
      <div class="control">
        <%= number_field_tag "ebay_fulfillment_policy[handling_time]", ((@fulfillment_policy.handling_time rescue nil) || 1), class: "input", min: 1, max: 30 %>
      </div>
      <p class="help">Maximum number of business days to prepare the item for shipment</p>
    </div>

    <h3 class="title is-5">Shipping</h3>
    
    <div class="field">
      <%= f.label :service_code, "Shipping Service", class: "label" %>
      <div class="control">
        <turbo-frame id="service-select" src="<%= shipping_services_account_external_account_fulfillment_policies_path(current_account, @external_account, selected_service: (@fulfillment_policy.service_code rescue nil)) %>">
          <div class="select is-fullwidth">
            <select name="ebay_fulfillment_policy[service_code]">
              <option>Loading services...</option>
            </select>
          </div>
        </turbo-frame>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <%= hidden_field_tag "ebay_fulfillment_policy[free_shipping]", "0" %>
          <%= check_box_tag "ebay_fulfillment_policy[free_shipping]", "1", ((@fulfillment_policy.free_shipping? rescue false)), {} %>
          Free shipping
        </label>
      </div>
    </div>

    <div class="field" id="cost_field">
      <label class="label">Shipping Cost (£)</label>
      <div class="control">
        <%= number_field_tag "ebay_fulfillment_policy[cost]", (@fulfillment_policy.cost rescue nil), class: "input", step: 0.01, min: 0 %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= f.submit "Update Fulfillment Policy", class: "button is-primary" %>
      </div>
      <div class="control">
        <%= link_to "Cancel", account_external_account_path(current_account, @external_account), class: "button" %>
      </div>
    </div>
  <% end %>
</div>