<h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "/components/form/input_wrapper",
    label: f.label(:email, class: "label"),
    input: f.email_field(:email, autofocus: true, autocomplete: "email", class: "input"),
    errors: resource.errors.full_messages_for(:email) %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= render "/components/form/input_wrapper",
    label: f.label(:password, class: "label"),
    input: f.password_field(:password, autocomplete: "new-password", class: "input"),
    errors: resource.errors.full_messages_for(:password) %>

  <%= render "/components/form/input_wrapper",
    label: f.label(:password_confirmation, class: "label"),
    input: f.password_field(:password_confirmation, autocomplete: "new-password", class: "input"),
    errors: resource.errors.full_messages_for(:password_confirmation) %>

  <%= render "/components/form/input_wrapper",
    label: f.label(:current_password, class: "label"),
    input: f.password_field(:current_password, autocomplete: "current-password", class: "input"),
    errors: resource.errors.full_messages_for(:current_password) %>
  <i>(we need your current password to confirm your changes)</i><br />


  <div class="is-flex is-flex-direction-column is-align-items-center mt-4">
    <%= f.submit "Update", class: "button" %>
    <br />
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "button is-text has-text-danger", method: :delete %>
    <br />
    <span>Need support? <%= link_to "Contact us", "mailto: notallonesandzeros.com" %></span>
    <br />
    <%= link_to "Back", :back %>
  </div>
<% end %>
