<div id=<%= "record-#{record.id}-property-#{property.id}" %>>
  <% if property.text_type? %>
    <%= text_field_tag :value,
      value,
      class: "input is-static",
      style: "width: fit-content;",
      data: {
        action: 'change->record-attribute#setAndSubmit',
        record_id: record.id,
        property_id: property.id
      } %>
    
  <% elsif property.number_type? %>
    <%= number_field_tag :value,
      value,
      class: "input is-static",
      style: "width: fit-content;",
      data: { action: 'change->record-attribute#setAndSubmit', record_id: record.id, property_id: property.id }
    %>

  <% elsif property.select_type? %>
    <div class="select is-static">
      <%= select_tag :value,
        options_for_select(property.options.pluck(:value), value),
        {
          style: "width: fit-content;",
          include_blank: true,
          data: { action: 'change->record-attribute#setAndSubmit',
            record_id: record.id,
            property_id: property.id
          }
        } %>
    </div>
    
  <% elsif property.linked_record_type? %>
    <div class="select">
      <% identifying_property = property.linked_table.properties.first.id.to_s %>
      <%# Safe: identifying_property is a DB id and not user-controlled %>
      <%= select_tag :value,
        options_for_select(property.linked_table.records.where.not("properties ->> ? LIKE ?", identifying_property, "nil").pluck(Arel.sql("properties ->> '#{identifying_property}'"), :id), value),
        {
          style: "width: fit-content;",
          include_blank: true,
          data: { action: 'change->record-attribute#setAndSubmit', record_id: record.id, property_id: property.id }
        } %>
    </div>

  <% elsif property.date_type? %>
    <%= text_field_tag :value,
      value,
      class: "input is-static",
      style: "width: fit-content;",
      data: {
        controller: "date-picker",
        date_picker_format_value: property.format.gsub("%", ""),
        action: 'change->record-attribute#setAndSubmit',
        record_id: record.id,
        property_id: property.id
      }
    %>

  <% elsif property.formula_type? %>
    <%= text_field_tag :value,
      property&.formula&.calculate(record),
      class: "input is-static",
      style: "width: fit-content;",
      data: { action: 'change->record-attribute#setAndSubmit', record_id: record.id, property_id: property.id },
      readonly: true %>

  <% elsif property.checkbox_type? %>
    <label class="checkbox">
      <%= checkbox_tag :value,
        checked: ActiveModel::Type::Boolean.new.cast(value),
        data: { action: 'change->record-attribute#setAndSubmit', record_id: record.id, property_id: property.id } %>
      </div>
    </label>

  <% elsif property.id_type? %>
    <%= text_field_tag :value,
      value,
      class: "input is-static",
      style: "width: fit-content; cursor: unset;",
      disabled: true
    %>

  <% elsif property.timestamp_type? %>
    <%= text_field_tag :value,
      time = Time.iso8601(value).strftime("#{property.format || "%d/%m/%Y"} %H:%M"),
      class: "input is-static",
      style: "width: fit-content; cursor: unset;",
      disabled: true
    %>
  <% end %>
</div>
