<tr data-controller="column-position">
  <th class="is-align-content-center" data-id="na">
    <%= form_with url: set_positions_account_table_view_view_properties_path(current_account, current_table, view), method: :patch do |f| %>
      <%= f.hidden_field :positions, data: { column_position_target: "positionsInput" } %>
      <%= f.hidden_field :return_path, value: request.fullpath %>
    <% end %>

    <label class="checkbox">
      <input type="checkbox" data-table-target="selectAll" data-action="change->table#toggleAll"/>
    </label>
  </th>

  <% view.visible_properties.includes(:options).each_with_index do |property| %>
    <%= render "components/table/column_header", property:, icon: "fa-chevron-down" %>
  <% end %>
  
  <th data-id="na" data-controller="dropdown" data-dropdown-portal-value="true">
    <div class="dropdown" data-dropdown-target="dropdown" data-action="click->dropdown#open">
      <button class="dropddown-trigger is-clickable" style="width: max-content;">
        <span class="icon-text">
          <span class="icon is-clickable">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add Property</span>
        </span>
      </button>
    </div>

    <template data-dropdown-target="template">
        <div class="dropdown is-active">
          <div class="dropdown-menu" id="dropdown-menu" role="menu" data-dropdown-target="menu">
            <div class="dropdown-content">
              <% Property::TYPE_MAP.keys.each do |type| %>
                <%= button_to account_table_properties_path(current_account, current_table), params: { property: { type: type } },  data: { turbo_method: :post }, style: "width: 100%;", class: "dropdown-item" do |f| %>
                  <span class="icon-text">
                    <span class="icon is-clickable">
                      <i class="fas <%= property_symbol(type)%>"></i>
                    </span>
                    <span><%= type == "id" ? type.humanize.upcase : type.humanize.capitalize %></span>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </template>
  </th>
</tr>