<div class="mt-4">
  <% ebay_listing = inventory_unit.ebay_listing_for_account(current_account) %>
  <% status = ebay_listing&.status || 'not_listed' %>
  <% case status %>
  <% when 'not_listed', nil %>
    <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'list'), 
                class: "button is-info is-fullwidth",
                style: "background-color: #0064d2; border-color: #0064d2;",
                data: { turbo_method: :post, confirm: "List this item on eBay?" } do %>
      <span class="icon">
        <i class="fas fa-upload"></i>
      </span>
      <span>List on eBay</span>
    <% end %>
  
  <% when 'draft' %>
    <div class="notification is-warning is-light">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <span class="tag is-warning">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
              <span>eBay Draft</span>
            </span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="buttons">
              <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'publish'), 
                          class: "button is-small is-success",
                          data: { turbo_method: :post } do %>
                <span class="icon is-small">
                  <i class="fas fa-play"></i>
                </span>
                <span>Publish</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <% when 'active' %>
    <div class="notification is-success is-light">
      <div class="level mb-2">
        <div class="level-left">
          <div class="level-item">
            <div class="tags has-addons">
              <span class="tag is-success">
                <span class="icon is-small">
                  <i class="fas fa-check-circle"></i>
                </span>
                <span>Listed on eBay</span>
              </span>
              <% if ebay_listing&.price&.present? %>
                <span class="tag is-light">
                  $<%= number_with_precision(ebay_listing.price, precision: 2) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <% if ebay_listing&.listed_at&.present? %>
        <p class="is-size-7 has-text-grey mb-3">
          Listed <%= time_ago_in_words(ebay_listing.listed_at) %> ago
        </p>
      <% end %>
      
      <div class="buttons is-small">
        <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'end'), 
                    class: "button is-small is-warning",
                    data: { turbo_method: :post, confirm: "End this eBay listing?" } do %>
          <span class="icon is-small">
            <i class="fas fa-stop"></i>
          </span>
          <span>End Listing</span>
        <% end %>
      </div>
    </div>
  
  <% when 'sold' %>
    <div class="notification is-primary is-light">
      <div class="level mb-2">
        <div class="level-left">
          <div class="level-item">
            <div class="tags has-addons">
              <span class="tag is-primary">
                <span class="icon is-small">
                  <i class="fas fa-dollar-sign"></i>
                </span>
                <span>Sold on eBay</span>
              </span>
              <% if ebay_listing&.price&.present? %>
                <span class="tag is-light">
                  $<%= number_with_precision(ebay_listing.price, precision: 2) %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="buttons is-small">
        <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'relist'), 
                    class: "button is-small is-primary",
                    data: { turbo_method: :post } do %>
          <span class="icon is-small">
            <i class="fas fa-redo"></i>
          </span>
          <span>Relist</span>
        <% end %>
      </div>
    </div>
  
  <% when 'ended' %>
    <div class="notification is-light">
      <div class="level mb-2">
        <div class="level-left">
          <div class="level-item">
            <span class="tag is-dark">
              <span class="icon is-small">
                <i class="fas fa-stop-circle"></i>
              </span>
              <span>eBay Listing Ended</span>
            </span>
          </div>
        </div>
      </div>
      
      <div class="buttons is-small">
        <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'relist'), 
                    class: "button is-small is-primary",
                    data: { turbo_method: :post } do %>
          <span class="icon is-small">
            <i class="fas fa-redo"></i>
          </span>
          <span>Relist</span>
        <% end %>
        
        <%= link_to ebay_action_account_inventory_unit_path(current_account, inventory_unit, action_type: 'archive'), 
                    class: "button is-small is-light",
                    data: { turbo_method: :post } do %>
          <span class="icon is-small">
            <i class="fas fa-archive"></i>
          </span>
          <span>Archive</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>