<h1 class="title">New Table</h1>

<%= form_with model: @table, url: account_tables_path(current_account), data: { turbo: false } do |f| %>
  <%= render "/components/form/input_wrapper",
    label: f.label(:name, "Table Name", class: "label"),
    input: f.text_field(:name, autofocus: true, class: "input"),
    errors: @table.errors.full_messages_for(:name) %>

  <div class="field">
    <%= f.label :import, "Import CSV" %>
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <%= f.file_field :import, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Choose a file… </span>
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.submit class: "button is-primary" %>
  </div>
<% end %>