<section class="section flex is-flex is-flex-direction-column" style="height: 100%">
  <h1 class="title"><%= @table.name %></h1>

  <div class="tabs" style="overflow: visible;">
    <ul>
      <li class="is-active"><%= link_to "Everything", account_table_path(current_account, @table) %></li>

      <% @table.views.each do |view| %>
        <li>
          <%= link_to view.name, account_table_view_path(current_account, @table, view) %>
        </li>
      <% end %>

      <li class="is-active">
        <%= button_to account_table_views_path(current_account, @table) do %>
          <span class="icon-text">
            <span class="icon is-clickable m-0">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add View</span>
          </span>
        <% end %>
      </li>
    </ul>
  </div>

  <%= render "tables/filters", path: account_table_path(current_account, @table) %>

  <%= turbo_frame_tag "table_view", class: "is-flex is-flex-direction-column is-flex-grow-1" do %>
    <%= render "tables/table" %>
  <% end %>
</section>
      