<div class="box is-flex is-justify-content-space-between">
  <p class="label"><%= external_account.service_name.titleize %></p>
  <% if external_account.persisted? %>
    <% if @product.external_account_products.find_by(external_account: external_account).present? %>
      <label class="label">Status</label>
      <div class="control">
        <label class="radio">
          <input type="radio" name="answer" />
          Active
        </label>
        <label class="radio">
          <input type="radio" name="answer" />
          Draft
        </label>
      </div>

      <button class="button is-danger" type="button">
        <span class="icon">
          <i class="fas fa-trash"></i>
        </span>
        <span>Remove from <%= external_account.service_name.titleize %></span>
      </button>
      
    <% elsif @product.persisted? %>
      <%= form_with model: [current_account, @product, ExternalAccountProduct.new], method: :post do |form| %>
        <%= form.hidden_field :external_account_id, value: external_account.id %>
        <%= form.button class: "button is-info is-small" do %>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add to <%= external_account.service_name.titleize %></span>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <%= link_to "Connect Shopify", new_account_shopify_account_path(current_account), class: "button is-primary" %>
  <% end %>
</div>