<%= render layout: "layouts/application" do %>
  <% if notice.present? %>
    <p class="has-text-success has-text-centered"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p class="has-text-warning has-text-centered"><%= alert %></p>
  <% end %>

  <%= render "layouts/navbar" %>

  <section class="hero is-fullheight-with-navbar">
    <div class="columns is-gapless is-desktop is-flex-grow-1">
      <div class="sidebar column is-2 p-4!">
        <%= render "layouts/sidebar" %>
      </div>

      <div class="column is-10">
        <section class="section">
          <div class="container">
            <%= yield %>
          </div>
        </section>
      </div>
    </div>
  </section>
<% end %>