<aside class="menu p-4">
  <h2 class="title is-4"><%= current_account.name %></h2>
  <ul class="menu-list">
    <li>
      <%= link_to "Dashboard", account_dashboard_path(current_account) %>
    </li>
    <li>
      <%= link_to "Products", account_products_path(current_account) %>
    </li>
    <li>
      <%= link_to "Variants", account_variants_path(current_account) %>
    </li>
    <li>
      <%= link_to "Inventory Units", account_inventory_units_path(current_account) %>
    </li>
    <li>
      <%= link_to "Orders", account_orders_path(current_account) %>
    </li>
  </ul>
  
  <p class="menu-label">Custom Tables</p>
  <ul class="menu-list">
    <% current_account.tables.each do |table| %>
      <li>
        <%= link_to table.name, account_table_path(current_account, table) %>
      </li>
    <% end %>

    <li>
      <%= link_to new_account_table_path(current_account) do %>
        <span class="icon-text">
          <span>Create Table</span>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </span>
      <% end %>
    </li>
  </ul>
</aside>
