<%= form_with model: @account, data: { turbo: false } do |f| %>
  <%= render "/components/form/input_wrapper",
    label: f.label(:name, class: "label"),
    input: f.text_field(:name, autofocus: true, class: "input"),
    errors: @account.errors.full_messages_for(:name) %>

  <div class="field">
    <%= f.label :slug, class: "label" %>
    <div class="field has-addons">
      <p class="control">
        <a class="button is-static">
          www.<%= request.host %>.com/
        </a>
      </p>
      <p class="control is-expanded">
        <%= f.text_field(:slug, class: "input") %>
      </p>
    </div>
    <div>
    <% @account.errors.full_messages_for(:slug)&.each do |error| %>
      <p class="help is-danger"><%= error %></p>
    <% end %>
    </div>
  </div>

  <div class="is-flex is-flex-direction-column is-align-items-center">
    <%= f.submit @account.new_record? ? "Create account" : "Update account", class: "button is-primary" %>
  </div>
<% end %> 