<h1 class="title">Edit account</h1>
<p class="subtitle">Update your account settings</p>

<%= render "form" %>

<div class="columns is-multiline">
  <div class="column is-6-tablet is-4-desktop">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <span class="icon is-large">
              <i class="fab fa-shopify fa-2x"></i>
            </span>
          </div>
          <div class="media-content">
            <p class="title is-5 mb-1">Shopify</p>
            <% if current_account&.shopify_account&.persisted? %>
              <span class="tag is-info is-light">Connected</span>
            <% else %>
              <span class="tag is-light">Not Connected</span>
            <% end %>
          </div>
        </div>
        <div class="content mt-3">
          <% if current_account&.shopify_account&.persisted?  %>
            <div class="buttons">
              <%= link_to account_external_account_path(current_account, current_account.shopify_account), class: "button is-info is-small" do %>
                <span class="icon">
                  <i class="fas fa-cog"></i>
                </span>
                <span>Manage</span>
              <% end %>
              <%= button_to account_external_account_path(current_account, current_account.shopify_account), method: :delete, data: { turbo_confirm: "Are you sure you want to disconnect your Shopify account?" }, class: "button is-danger is-small" do %>
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Disconnect</span>
              <% end %>
            </div>
          <% else %>
            <%= link_to "Connect Shopify", new_account_external_account_path(current_account), class: "button is-primary is-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6-tablet is-4-desktop">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <span class="icon is-large">
              <i class="fab fa-ebay fa-2x"></i>
            </span>
          </div>
          <div class="media-content">
            <p class="title is-5 mb-1">eBay</p>
            <% if current_account&.ebay_account&.persisted? %>
              <span class="tag is-info is-light">Connected</span>
              <% if current_account.ebay_account.ebay_username.present? %>
                <p class="has-text-grey is-size-7 mt-1">@<%= current_account.ebay_account.ebay_username %></p>
              <% elsif current_account.ebay_account.ebay_display_name.present? %>
                <p class="has-text-grey is-size-7 mt-1"><%= current_account.ebay_account.ebay_display_name %></p>
              <% end %>
            <% else %>
              <span class="tag is-light">Not Connected</span>
            <% end %>
          </div>
        </div>
        <div class="content mt-3">
          <% if current_account&.ebay_account&.persisted?  %>
            <div class="buttons">
              <%= link_to account_external_account_path(current_account, current_account.ebay_account), class: "button is-info is-small" do %>
                <span class="icon">
                  <i class="fas fa-cog"></i>
                </span>
                <span>Manage</span>
              <% end %>
              <%= button_to account_external_account_path(current_account, current_account.ebay_account), method: :delete, data: { turbo_confirm: "Are you sure you want to disconnect your eBay account?" }, class: "button is-danger is-small" do %>
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Disconnect</span>
              <% end %>
            </div>
          <% else %>
            <%= link_to "Connect eBay", new_account_external_account_path(current_account, service: "ebay"), class: "button is-primary is-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>